
<div class="container" *ngIf="login==true">
<h2 style="text-align: center;margin-top: 50px;">Hoşgeldiniz İsminizi Giriniz</h2>
  <div class="input-group" style="margin-top: 30px;">
    <input type="text" #name class="form-control" (keyup.enter)="addname(name.value)">
     <div class="input group append">
        <button class="btn btn-primary" (click)="addname(name.value)">Giriş Yap</button>
      </div>
</div>

</div>

 
    <div id="wrapper" *ngIf="login==false">

      <!-- Sidebar -->
      <div id="sidebar-wrapper">
          <ul class="sidebar-nav">
              <li class="sidebar-brand">
                  <a (click)=anasayfa() style="color: white;cursor: pointer">
                      Bilsoft Akademi
                  </a>
              </li>
              <li *ngFor="let egitim of egitimler">
                  <a style="color: white;cursor: pointer" (click)="basla(egitim)" type="">{{egitim.egitimAdi}}</a>
              </li>
          </ul>
      </div>
      <!-- /#sidebar-wrapper -->
      <div *ngIf="isimgirildimi==false">
        <nav class="navbar navbar-expand" style="background-color:black">
          <a style="margin-left: auto;color: white;" class="navbar-brand" href="#" (click)=loginpage()>Oturum Aç</a>
        </nav>
      </div>
      <div *ngIf="isimgirildimi==true">
        <nav class="navbar navbar-expand" style="background-color:black">
          <a style="margin-left: auto;color: white;cursor: pointer;" class="navbar-brand">{{username}}</a>
        </nav>
      </div>
      
      <!-- Page Content -->
      <div id="page-content-wrapper">
        
          <div class="container-fluid">
              <div class="row">
                  <div class="col-lg-12">
                   

                    <div class="row" *ngIf="!sinavBasladiMi">
                      <div class="col-12" style="margin-top: 10px;margin-bottom: 10px;text-align: center;">
                        <div class="card" *ngIf="isimgirildimi==true">
                        <div class="card-header alert-primary">
                        <h2>Hoşgeldiniz {{username}}</h2>
                      </div>
                      </div>
                      </div>
                      <div class="col-12" style="text-align: center;">

                       
                      </div>
                    
                      </div>
                      
                      
                      <div *ngIf="!sinavBittiMi && sinavBasladiMi && isimgirildimi">
                        <div class="card">
                          
                          <div *ngIf="!videoIzlendiMi">
                            
                            <div class="card-header alert-primary m-2">
                              <h3>{{egitimaditemp}}</h3>
                            </div>
                            <div class="card-body">
                      <video src="../assets/vid/{{egitimaditemp}}.mp4" style="width: 100%;height: 400px;" autoplay=true controls></video>
                      <div style="text-align: center;padding-top: 20px;">
                      <button class="btn btn-lg btn-primary" (click)="baslatwo()" type="submit">Başla</button>
                      </div>
                            </div>
                      
                      
                          </div>
                      
                      
                      <div *ngIf="videoIzlendiMi">
                          <div class="row_soru" *ngFor="let soru of secilenEgitim.soruarray;let index = index">
                            <div *ngIf="mevcutSoru === index">
                              <div class="card-header alert-primary m-2">
                                <div class="row">
                      
                                  <div class="col-6">
                                    <h3>{{index+1}}. Soru</h3>
                                  </div>
                                  <div class="col-6">
                                    <h2 style="text-align: end;">Skor: {{toplamPuan}}</h2>
                                  </div>
                                </div>
                                
                                
                              </div>
                              <div class="card-body">
                                <h2 style="margin-bottom: 20px;">{{soru.soru}}</h2>
                                <div class="row">
                                  <div class="col-6 mb-1" *ngFor="let cevap of soru.cevaplar">
                                    <input style="display: block;width:100%" class="btn btn-info btn-lg" name="puan" 
                                    (click)="cevapSecme(cevap)" type="button" [class.active]="secilenCevap?.id == cevap?.id"
                                      value="{{cevap.cevap}}">
                                  </div>
                                </div>
                              </div>
                            </div>     
                          </div>
                          <div style="padding:10px;text-align: end;">
                            <button class="btn btn-lg btn-success" (click)="ileri()" type="submit">İleri</button>
                          </div>
                        </div>
                      
                          
                        </div>
                      </div>
                      
                      
                      <div *ngIf="sinavBasariliMi && sinavBittiMi && isimgirildimi">
                      
                      <div *ngIf="sinavBasariliMiSonuc">
                      <div class="card mt-3">
                      <div class="card-header alert-success">
                        <h3>Tebrikler</h3>
                      </div>
                      <div class="card-body" style="text-align: center">
                        <h3>Skorunuz: {{toplamPuan}}</h3>
                        <button class="btn btn-lg btn-primary" (click)="anasayfa()" type="submit">Ana Sayfa</button>
                        <!-- <button class="btn btn-lg btn-warning" (click)="geridonus()" type="submit">Sınav</button> -->
                      </div>
                      </div>
                      </div>
                      <div *ngIf="!sinavBasariliMiSonuc && isimgirildimi">
                      <div class="card mt-3">
                        <div class="card-header alert-warning">
                          <h3>Tekrar deneyiniz</h3>
                        </div>
                        <div class="card-body">
                          <h3>Skorunuz: {{toplamPuan}}</h3>
                          <button class="btn btn-lg btn-primary" (click)="anasayfa()" type="submit" style="margin-right: 10px;">Ana Sayfa</button>
                          <button class="btn btn-lg btn-warning" (click)="geridonus()" type="submit">Sınava Baştan Başla</button>
                        </div>
                      </div>
                      </div>
                      </div>
                      
                          
                  </div>
              </div>
          </div>
      </div>
      <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->
  
 




<script>
  $("#menu-toggle").click(function(e) {
  e.preventDefault();
  $("#wrapper").toggleClass("toggled");
});

</script>